body {
  font-family: "Montserrat", sans-serif;
  background: #f7f7f7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


/* dropdown */
:root {
  --bg-color: #222429;
  --primary-bg-color: #333740;
  --primary-color: #2c62f6;
  --text-color: #b1b8ca;
  --text-active: #ffffff;
  --button-hover-bg-color: #2b2e34;
  --border-color: #494d59;
  --dropdown-height: 0;
  --rotate-arrow: 0;
  --translate-value: 0;
  --list-opacity: 0;
  --transition-time: 0.4s;
  --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --border-radius: 1.4rem;
  --list-button-height: 4.6rem;
  --floating-icon-size: 26;
  --floating-icon-top: 0;
  --floating-icon-left: 0;
}


/* button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
} */

svg {
  height: 1.6rem;
  width: 1.6rem;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 34rem;
}

.dropdown-title-icon,
.dropdown-arrow {
  display: inline-flex;
}

.dropdown-title {
  margin: 0 auto 0 1.8rem;
  text-transform: capitalize;
}

.dropdown-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
}

.dropdown-button svg {
  transition: all var(--transition-time) var(--transition-timing);
  fill: var(--text-color);
}

.dropdown-button svg,
.dropdown-button span {
  pointer-events: none;
}

.dropdown-button:hover,
.dropdown-button:focus {
  color: var(--text-active);
}

.dropdown-button:hover svg,
.dropdown-button:focus svg {
  fill: var(--text-active);
}

.main-button {
  height: 5.2rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  border: 0.1rem solid var(--border-color);
  transition: all var(--transition-time) var(--transition-timing);
}

.main-button:focus {
  border: 0.1rem solid var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(44, 98, 246, 0.4);
}

.main-button .dropdown-arrow {
  transition: transform var(--transition-time) var(--transition-timing);
  transform: rotate(var(--rotate-arrow));
  margin-left: 1.8rem;
}

.list-button {
  height: var(--list-button-height);
  transition: color var(--transition-time) var(--transition-timing);
  color: var(--text-color);
  overflow: hidden;
  cursor: none;
}

.dropdown-list-container {
  overflow: hidden;
  max-height: var(--dropdown-height);
  transition: max-height var(--transition-time) var(--transition-timing);
}

.dropdown-list-wrapper {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary-bg-color);
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--border-color);
  position: relative;
}

ul.dropdown-list {
  position: relative;
  list-style-type: none;
}

ul.dropdown-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: var(--list-button-height);
  background-color: var(--button-hover-bg-color);
  transition: all var(--transition-time) linear;
  transform: translateY(var(--translate-value));
  border-radius: var(--border-radius);
  pointer-events: none;
}
ul.dropdown-list:hover::before,
ul.dropdown-list:hover ~ .floating-icon {
  opacity: 1;
}

li.dropdown-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: var(--list-opacity);
  transition: opacity 0.8s var(--transition-timing);
}

.floating-icon {
  height: calc(var(--floating-icon-size) * 1px);
  width: calc(var(--floating-icon-size) * 1px);
  position: absolute;
  top: var(--floating-icon-top);
  left: var(--floating-icon-left);
  background-color: var(--border-color);
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-timing);
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.floating-icon svg {
  fill: var(--text-active);
}


/* select */
.custom__select {
  border: none;
}

/* header */
header {
  background-color: #fff;
  padding: 38px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  */

.menu {
  position: relative;
  display: none;
  margin-right: 45px;
}

.nav__toggle {
  width: 43px;
  padding: 10px 0;
  position: absolute;
  font-size: 0px;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  display: block;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
}

.nav__toggle-item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background 0.2s linear;
}

.nav__toggle-item::before,
.nav__toggle-item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav__toggle-item::before {
  top: -14px;
}

.nav__toggle.active {
  background: none;
}

.nav__toggle.active .nav__toggle-item {
  background: none !important;
}

.nav__toggle.active .nav__toggle-item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px) translateY(-13px);
}

.nav__toggle.active .nav__toggle-item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(3px) translateY(7px);
}

/*  */

/* nav */

.nav__item {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 140%;
  margin-right: 25px;
  transition: 0.2s linear;
}
.nav__item:hover {
  text-decoration: none;
  color: #00b259;
}

.nav__item.active {
  color: #00b259;
  text-decoration: noe;
}

.nav__item:last-child {
  margin-right: 0;
}

.container {
  max-width: 70%;
}

.myslide {
  display: block;
  width: 100%;
  height: 89vh;
  object-fit: contain;
  background: url("/assets/img/sn_project_product.jpg") no-repeat center;
  background-size: cover;
}

/* 

*/

.menu__button {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.lang {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */

  color: #000000;
}

/* 

*/

/* intro_blog */

.intro_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 89vh;
  width: 50%;
}

.intro__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: #ffffff;
  text-shadow: 0px 4px 35px rgba(0, 0, 0, 0.8);
}

.intro__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  color: #ffffff;
  text-shadow: 0px 4px 15px #000000;
  margin-top: 25px;
}

.intro_btn a {
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  display: flex;
  align-items: center;
  color: #ffffff;

  border: 1px solid #fff;
  display: inline-block;
  margin-top: 50px;
  padding: 13px 20px;
}

/* my_pog */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  border-radius: 0;
  height: 7px;
  width: 80px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #fff;
}

/* perspiciatis */

.perspiciatis {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.perspiciatis__left {
  background: #fff;
  padding: 80px 80px;
  border-radius: 20px 0px 0px 20px;
}

.perspiciatis__right {
  height: 100%;
}

.perspiciatis__right > img {
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}

.perspiciatis__title {
  font-size: 60px;
  line-height: 130%;
  font-weight: 500;
  color: #1d1d1f;
}

.perspiciatis__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  color: #000000;
  margin-top: 45px;
  width: 80%;
}

.perspiciatis__data {
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;
  color: #000000;
  margin-top: 40px;
}

/* blog */

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.blog_item {
  background-color: #fff;
  border-radius: 20px;
}

.blog_item img {
  width: 100%;
}

.blog_info {
  padding: 30px 40px 50px;
}

.blog__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #000000;
}

.blog__text {
  margin-top: 25px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 26px;
  line-height: 160%;
  color: #000000;
}

/* simple  */

.simple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.simple__item {
  background: #fff;
  border-radius: 20px;
}

.simple__info {
  padding: 30px 40px 50px;
}

.simple__item > img {
  width: 100%;
}

.simple__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #000000;
}

.simple__text {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 160%;
  margin-top: 25px;
  color: #000000;
}

.simple__date {
  margin-top: 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 170%;
  color: #000000;
}

/* feedback */
.feedback {
  background: #fff;
  padding: 160px 0;
}

.feedback__title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
}

.feedback__subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  text-align: center;
  color: #000000;
}

.form_my {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0px auto;
  padding: 0 20px;
  margin-top: 40px;
}

.form_input {
  padding-left: 0;
  border: none;
  width: 48%;
  border-bottom: 1px solid #00b259;
  outline: none;
}

input[placeholder] {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  /* identical to box height, or 31px */

  color: #000000;
}

input[placeholder]:nth-child(3) {
  padding: 0;
}

.form_btn {
  /* margin-top: 58px; */
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  padding: 10px 40px 10px 20px;
  border: 2px solid #888888;
  position: relative;
}

.form_btn i {
  position: absolute;
  right: 10px;
}

/* footer */

.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  font-weight: 400;
  font-size: 20px;
  color: #3d3d3d;
  line-height: 160%;
}

/* social */

.social {
  display: flex;
}

.social__item {
  margin-left: 15px;
}

/* lang_select */

.lang_select {
  border: none;
  outline: none;
}

/* mobile menu */

.mobile_menu {
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 100;
  left: -100%;
  visibility: hidden;
  transition: 0.3s linear;
}

.mobile_menu.active {
  left: 0%;
  visibility: visible;
}

.nav_m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.nav__item__m {
  padding: 15px;
  background-color: #cccc;
  margin-bottom: 10px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}

/* about_bg */

.about_bg {
  height: 67vh;
  background: url("./img/sn_project_aboutus\ 2.png") center no-repeat;
  background-size: cover;
}

/* nature_title */
.nature {
  background-color: #fff;
  padding-top: 85px;
}

.nature_bg {
  background-color: #fff;
}

.nature_title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
  margin-bottom: 45px;
}

.nature_text {
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  max-width: 990px;
}

.naure_subtitle {
  margin-top: 40px;
  padding-bottom: 100px;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.nature_info {
  display: flex;
  gap: 30px;
  /* grid-template-columns: repeat(3, 1fr); */
  align-items: flex-end;
  justify-content: center;
}

.nature__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nature__item:nth-child(3) {
  margin-left: 10px;
}

.nautre_box_img {
  border-radius: 20px 20px 0 0;
  display: inline-block;
  background: #fff;
  padding: 34px 54px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.08);
}

.nature_info_text {
  font-weight: 500;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
  margin-bottom: 60px;
}

/* worth */
.worth_bg {
  background-color: #fff;
}

.worth {
  padding: 80px 0;
  text-align: center;
}

.worth__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.worth__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 44.2px;
  text-align: center;
  color: #000000;
}

.worth_blog {
  display: flex;
  justify-content: space-around;
}

.worth__item p {
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
}

.worth_md {
  display: none;
}

/* benefits_blog */
.benefits_bg {
  padding: 85px 0;
  background-color: #fff;
}

.benefits_title {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
  color: #000000;
}

.benefits_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.benefits_item {
  display: flex;
  width: 30.33333%;
  flex-direction: column;
  align-items: center;
}

.benefits_text {
  width: 85%;
  font-weight: 500;
  font-size: 26px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

.benefits_item:nth-child(7) img,
.benefits_item:nth-child(8) img,
.benefits_item:nth-child(9) img {
  display: none;
}

.benefist_media_s {
  display: none;
}

.benefits_switch {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* structure */
.structure__title {
  padding-top: 85px;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.structure_bg {
  background: #f7f7f7;
}

.structure img {
  padding: 20px 0;
  width: 100%;
  max-width: 100%;
}

.structure_img2 {
  padding: 0 !important;
}

/* longi */
.longi_bg {
  background-color: #fff;
}

.longi {
  padding-top: 85px;
  padding-bottom: 60px;
}

.longi_info {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.longi_title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
  margin-bottom: 45px;
}

.longi_text {
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.longi_subtitle {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.longi_imeges {
  display: flex;
  justify-content: center;
}

.longi_imeges img {
  max-width: 100%;
  width: 20%;
}

.longi_serv {
  display: none;
  grid-template-columns: repeat(5, 1fr);
}

.longi_item {
  min-height: 481px;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.longi_item img {
  max-width: 100%;
  width: 60%;
}

.longi_item:nth-child(1) {
  background: #fffeee;
}

.longi_item:nth-child(2) {
  background: #ffefe8;
}

.longi_item:nth-child(3) {
  background: #ebefff;
}

.longi_item:nth-child(4) {
  background: #fff9ec;
}

.longi_item:nth-child(5) {
  background: #fff1f2;
}

/* clients
 */

.clients {
  padding: 85px 0;
}

.clients_title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
}

.clients_text {
  max-width: 990px;
  width: 100%;
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  padding-top: 45px;
  margin: 0 auto;
}

.clients_img {
  display: flex;
  flex-wrap: wrap;
  max-width: 1098px;
  justify-content: space-between;
  margin: 0 auto;
  /* gap: 20px; */
}

.clients_img img:nth-child(1) {
  margin-left: 85px;
}

.clients_img img:nth-child(4) {
  margin-right: 55px;
}

.clients_img img:nth-child(9) {
  margin-left: 10px;
}

.clients_img img:nth-child(8) {
  margin-left: 10px;
}

.clients_img img:nth-child(7) {
  margin-left: 10px;
}

.clients_img img:nth-child(6) {
  margin-left: 10px;
}

.portfolio_bg {
  background: #fff;
  padding: 85px 0;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio_item {
  border-radius: 24px;
}

.portfolio_title {
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  text-align: center;
  color: #1d1d1f;
  margin-bottom: 50px;
}

.portfolio_img {
  height: 301px;
  margin-bottom: 30px;
}

.portfolio_img img {
  height: 100%;
  max-width: 100%;
  border-radius: 24px;
  width: 100%;
}

.portfolio_text {
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  color: #000000;
  padding: 0 40px;
  margin-bottom: 40px;
}

.portfolio_data {
  padding: 0 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 170%;
  color: #000000;
  margin-bottom: 30px;
}

/* INVESTOR _ PAGE */

.investor_bg {
  height: 80vh;
  background: url("./img/investors/bg.jpg") center no-repeat;
  background-size: cover;
}

.investor_blog {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.investor {
  display: flex;
  margin-bottom: 64px;
}

.investor_bg1 {
  background: #f7f7f7;
}

.investor_title {
  font-weight: 700;
  font-size: 66px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 45px #000000;
}

.investor_text {
  font-weight: 600;
  font-size: 26px;
  line-height: 170%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 10px #000000;
  max-width: 300px;
}

.investor_btn {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-shadow: 0px 4px 45px #000000;
  display: inline-block;
  padding: 10px 46px 10px 30px;
  border: 1px solid #fff;
  margin-bottom: 125px;
}

/* service */

.service {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.service__tabs {
  padding-top: 5rem;
}

.service_title {
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  color: #1d1d1f;
}

.service_text {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 44px;
  color: #000000;
}

.service_info {
  width: 54%;
}

.service_item {
  position: relative;
  display: flex;
  align-items: center;
}

.service_item img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  width: 780px;
  left: 0;
}

.service_title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;
}

.service_text {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.service_btn {
  margin: 0 auto;
  border: 1px solid;
  font-weight: 600;
  font-size: 22px;
  line-height: 170%;
  display: inline-block;
  align-items: center;
  color: #00b259;
  padding: 10px 37px 10px 20px;
}

.service_item.solution img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  width: 75%;
  transform: translate(-50%, -50%);
}

/* products */

.product__slider {
  display: flex;
}

.product__btn {
  border: none;
  padding: 10px 37px 10px 0;
}

.tab__content h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;

  margin-bottom: 2rem;

  text-align: center;

  color: #1d1d1f;
}

.product__slider__contant h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  color: #000;
}

.product__slider__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  color: #1d1d1f;
}

.product__slider__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;

  color: #000000;
}

.slider-for img {
  width: 600px;
}



.main {
  font-family: Arial;
  width: 500px;
  display: block;
  margin: 0 auto;
}

.slider h3 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

/* tabs */

.solution__div {
   padding-top: 5rem;
  background-color: #fff;
}

.solution__content {
  display: flex;
  justify-content: center;
}

.solution__column {
  flex: 0 1 50%;
  transition: 0.6s;
}

.tablinks {
  background: transparent;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  padding: 6px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.solution__column__right {
  margin-left: 5%;
  margin-bottom: 3rem;
}

.tabcontent__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  margin: 0 15px;
  letter-spacing: 0.105em;
  font-feature-settings: "case" on;
  color: #000;
}

.tabcontent__description p {
  margin-top: 1rem;
  font-weight: 600;
}

.tabcontent__description li {
  list-style-type: none;
}

.tabs button {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: inherit;
  color: #686868;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Style the tab content */
.tabcontent {
  display: none;
  position: relative;
  float: left;
  padding: 0px 12px;
  border-left: none;
}

.tablinks.active {
  color: #00b259;
}

.tabs {
  position: relative;
}

.vl {
  border-left: 1px solid #686868;
  position: absolute;
  height: 278px;
  left: 29px;
}

.vl1 {
  border-left: 1px solid #686868;
  position: absolute;
  height: 720px;
  left: 29px;
}

.tablinks__sircle.active {
  background-color: #00b259;
}

.tablinks__radius1.active {
  border: 1px solid #00b259;
}

.tabcontent__img {
  margin-bottom: 2rem;
}

.tabcontent__btn a {
  display: flex;
  color: #00b259;
  width: 36%;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid #00b259;
}

.tablinks__radius1 {
  border-radius: 50%;
  z-index: 2;
  padding: 5px;
  border: 1px solid #686868;
}

.tablinks__sircle {
  background-color: #686868;
  width: 15px;
  z-index: 2;
  height: 15px;
  border-radius: 50%;
}

/* tabs 2 */

.tabs2 {
  clear: both;
  position: relative;
  margin: 0 auto;
  /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
  float: left;
}

.tab label {
  margin-right: 20px;
  position: relative;
  top: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
}

.tab [type="radio"] {
  display: none;
}

.tab__content {
  position: relative;
  left: 0;
  top: 200px;
  right: 0;
  bottom: 0;
  transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
  opacity: 0;
}

[type="radio"]:checked ~ label {
  color: #00b259;
  z-index: 2;
}

[type="radio"]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.tabcontent__box {
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tabcontent__block {
  width: 50%;
}

.tabcontent__block p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
  /* or 41px */

  color: #000000;
}

/*  */

.wizard {
  display: flex;
  justify-content: space-between;
}

.wizard,
.wizard .nav-tabs,
.wizard .nav-tabs .nav-item {
  position: relative;
}
.wizard .nav-tabs:after {
  content: "";
  width: 80%;
  border-bottom: solid 2px #ccc;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 38%;
  z-index: -1;
}
.wizard .nav-tabs .nav-item .nav-link {
  width: 50px;
  height: 50px;
  margin-bottom: 6%;
  background: white;
  border: 2px solid #ccc;
  color: #ccc;
  z-index: 10;
}
.wizard .nav-tabs .nav-item .nav-link:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-tabs .nav-item .nav-link.active {
  background: #fff;
  border: 2px solid #00b259;
  color: #00b259;
}

.wizard .nav-tabs .nav-item .tablinks__sircle .nav-link.active {
  color: #00b259;
}

.wizard .nav-tabs .nav-item .nav-link:after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #00b259;
  transition: 0.1s ease-in-out;
}

.wizard .nav-tabs .nav-item .nav-link svg {
  font-size: 25px;
}

/* modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  position: relative;
  background-color: #E1BEE7;
  margin: auto;
  padding: 0;
  border: 5px solid #7B1FA2;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}